body {
    font-family: open-sans, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Animated multicolor background */
    background: linear-gradient(45deg, #ff5370, #ff869a, #ffcaaf, #ffd6b2, #ffedb5, #e2fab4, #bdf9c6, #a7ebef, #82aaff, #c792ea, #f78c6c, #ffcb6b);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 5;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

label {
    margin-bottom: 8px;
    color: #555;
}

input[type="submit"],
button[id="baba"],
button[id="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    color: white;
}

input[type="submit"] {
    background-color: #4CAF50;
}

button[id="baba"] {
    background-color: #FF5722;
}

button[id="submit"] {
    background-color: #2196F3;
}

/* Style for displaying JSON content */
.json-container {
    max-width: 100%;
    overflow-y: auto;
    background-color: #f7f7f7;
    padding: 10px;
    border-radius: 5px;
    font-family: "Courier New", monospace;
    white-space: pre-wrap;
    max-height: 300px; /* Set a maximum height to enable scrolling */
}

/* Animated multicolor background */
@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
